<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header bgm-bluegray">
        <h2>Available Training Courses
          <small>Choose a training course from the list below</small>
        </h2>
      </div>
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col-md-4" *ngFor="let course of trainingCourses">
              <div class="card blog-post">
                <div class="card-header bgm-indigo">
                  <h2>St. Louis City Parks &amp; Rec</h2>
                </div>
                <div class="card-body">
                  <img src="./assets/img/MGCTRAININGCOURSE.png" class="img-responsive" alt="">
                </div>
                <a routerLink="/training-courses/modules/{{course.Id}}" class="card-footer bgm-indigo">
                  <h2>MGC Training Course
                  <br>
                    <small>{{course.training_course_name}}</small>
                  </h2>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>