<div class="container">
    <div class="modal-header">
        <h2 class="modal-title">HEADER</h2>
    </div>
    <div class="modal-body">
        <div *ngFor="let sections of trainingCourseModuleSections" class="btn-colors btn-demo">
            <button type="button" class="btn btn-lg bgm-bluegray"  (click)="openSubSectionsModal(sections.Id)">{{sections.training_course_module_section_number + ': ' + sections.training_course_module_name}}</button> 
        </div>
        
    </div>
    <div class="modal-footer">
        <h2>FOOTER</h2>
    </div>
</div>