<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header bgm-bluegray">
        <h3>{{currentCourseModule.training_course_module_name}}</h3>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <ul>
              <li *ngFor="let sections of moduleSections">
                  <a routerLink="/training-courses/sub-sections/{{sections.Id}}" class="btn btn-lg bgm-bluegray">{{sections.training_course_module_section_number + " " + sections.training_course_module_name}}</a>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
