<div>
  <div class="block-header courses">
      <header class="mdl-layout__header module-headers">
        <div class="mdl-layout__drawer-button">
          <a href="javascript:history.back()">
            <i class="material-icons">arrow_back</i>
          </a>
        </div>
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title"  *ngIf="trainingCourseModuleQuiz.training_course_module_quiz_name">
            {{trainingCourseModuleQuiz.training_course_module_quiz_name}}
          </span>
        </div>
    </header>
  </div>
  <main class="mdl-layout__content quiz">
    <div class="page-content container">
      <div class="row">
          <div class="col-md-12">
              <p>{{trainingCourseModuleQuiz.training_course_module_quiz_description}}</p>    
          </div>
          <div class="col-md-12">                
            <div class="pull-right">
              <div class="btn-group">
                <button type="button" (click)="startQuiz(trainingCourseModuleQuiz.Id)" class="btn btn-lg bgm-bluegray">Start</button>
              </div>
            </div>
          </div>          
      </div>
    </div>
  </main>
</div>