<div class="block-header">
  <h2>{{trainingCourseInformation.training_course_name}}</h2>

  <ul class="actions">
      <li>
          <a href="">
              <i class="zmdi zmdi-trending-up"></i>
          </a>
      </li>
      <li>
          <a href="">
              <i class="zmdi zmdi-check-all"></i>
          </a>
      </li>
      <li class="dropdown">
          <a href="" data-toggle="dropdown">
              <i class="zmdi zmdi-more-vert"></i>
          </a>

          <ul class="dropdown-menu dropdown-menu-right">
              <li>
                  <a href="">Refresh</a>
              </li>
              <li>
                  <a href="">Manage Widgets</a>
              </li>
              <li>
                  <a href="">Widgets Settings</a>
              </li>
          </ul>
      </li>
  </ul>
</div>

<div class="row">
  <div class="col-sm-4" *ngFor="let module of trainingCourseModule">
    <div class="card">
      <div class="card-header bgm-bluegray">
        <a href="javascript:void(0)" (click)="openModal(module.Id)">
          <h2>{{module.training_course_module_name}}</h2>
        </a>

        <ul class="actions actions-alt">
          <li class="dropdown">
            <a href="" data-toggle="dropdown" aria-expanded="false">
              <i class="zmdi zmdi-more-vert"></i>
            </a>

            <ul class="dropdown-menu dropdown-menu-right">
              <li>
                <a routerLink="/training-courses/quiz/{{module.Id}}">Take Quiz</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="card-body card-padding">
        {{module.training_course_module_description}}
      </div>
    </div>
  </div>
</div>

<!--<div class="row">
    <div class="col-md-12">
      <pagination
        [directionLinks]="false"
        [totalItems]="totalItems"
        (numPages)="smallnumPages = $event">
      </pagination>
    </div>
  </div>-->